---
permalink: /contact/
title: "Contact"
author_profile: false


header:
  overlay_image: /assets/images/header.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background

---
<hr>
<ul>
  {% for post in site.posts %}
    {% if post.tags contains "Contact" %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<hr>

<h2> Impressum </h2>
<p>
Allgemeiner Studierendenausschuss (AStA)<br>
Universität Bielefeld<br>
Universitätsstraße 25<br>
33615 Bielefeld<br>
Telefon: +49 521 106 3423<br>
Telefax: +49 521 106 6499<br>
E-Mail: info[at]asta-bielefeld[punkt]de<br>
Internet: www.asta-bielefeld.de
</p>

<p>
Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:<br>
Die AStA-Vorsitzenden
</p>

<p>
Der AStA der Universität Bielefeld ist eine Körperschaft des Öffentlichen Rechts, vertreten durch den AStA-Vorsitz.
<br><br>
Zuständige Aufsichtsbehörde:<br>
Ministerium für Innovation, Wissenschaft, Forschung & Technologie des Landes NRW, 40190 Düsseldorf
<br><br>
Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br>
DE 305/5874/1096
<br><br>
Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
</p>

